<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Liste des Villes</title>
    </head>
    <body>
    <h1>Liste des Villes</h1>
    <table>
        <thead>
        <tr>
            <th>Nom Ville</th>
            <th>Nom Département</th>
            <th>Code Département</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ville : ${villes}">
            <td th:text="${ville.nom}"></td>
            <td th:text="${ville.departement.nom}"></td>
            <td th:text="${ville.departement.code}"></td>
        </tr>
        </tbody>
    </table>
    </body>
</html>
